*{
    margin: 0px;
    padding: 0px;
    
    
}
.ve
{
    background-color: lightseagreen;
}
.input
{
    text-align: center;
    
    
}
.inputvalue{
    text-align: center;
    block-size: 20pt;
    
}
.nome{
    text-align: left;
    font-size:50;

}
.desc{
    text-align: right;
    font-size: 40;
}
.temp{
    text-align: center;
    font-size: 50;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: lightyellow;
}
.ff{
    text-align: center;
    font-size: 34;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: lightyellow;
}





